/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/screen.sass */
#content {
  *zoom: 1;
  max-width: 37.5em;
  _width: 37.5em;
  padding-left: 0em;
  padding-right: 0em;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  *zoom: 1;
  -webkit-box-shadow: 0 0 1em black;
  -moz-box-shadow: 0 0 1em black;
  box-shadow: 0 0 1em black;
  position: relative;
  min-height: 87%;
  background: white;
  font-family: myriadpro-regular;
  font-size: 15px;
  color: #3b3b3b;
}
/* line 38, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#content:after {
  content: "";
  display: table;
  clear: both;
}
/* line 14, ../../../../../Library/Ruby/Gems/1.8/gems/susy-1.0.9/sass/susy/_grid.scss */
#content * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 23, ../sass/screen.sass */
#content div {
  text-align: justify;
}
/* line 25, ../sass/screen.sass */
#content p {
  margin: 10px 15px 10px 15px;
}

/* line 28, ../sass/screen.sass */
body {
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
}

/* line 34, ../sass/screen.sass */
header {
  clear: both;
  position: relative;
}
/* line 37, ../sass/screen.sass */
header .logo {
  display: block;
  width: 100%;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url('../img/header_logo.jpg?1369301876');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 302px;
  height: 55px;
  vertical-align: middle;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 44, ../sass/screen.sass */
header nav {
  width: 100%;
  vertical-align: middle;
  display: inline-block;
  position: relative;
}
/* line 49, ../sass/screen.sass */
header nav ul {
  width: 100%;
  text-align: justify;
  -webkit-text-justify: distribute-all-lines;
  -moz-text-justify: distribute-all-lines;
  -ms-text-justify: distribute-all-lines;
  -o-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  margin: auto;
}
/* line 63, ../sass/screen.sass */
header nav ul li {
  display: inline-block;
  font-family: "Open Sans Condensed", "Arial Narrow", sans-serif;
  font-size: 28px;
  color: black;
  padding: 0 2px 0 2px;
}
/* line 71, ../sass/screen.sass */
header nav ul:after {
  content: "";
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0;
}
/* line 77, ../sass/screen.sass */
header nav ul a {
  text-decoration: none;
  color: black;
}
/* line 80, ../sass/screen.sass */
header nav ul a:hover {
  text-decoration: underline;
}
/* line 82, ../sass/screen.sass */
header nav ul a.current {
  color: #ff474f;
}
/* line 85, ../sass/screen.sass */
header ul.links {
  clear: both;
  background: black;
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  width: 100%;
}
/* line 93, ../sass/screen.sass */
header ul.links li {
  display: inline;
  margin-left: 15px;
  margin-right: 15px;
}
/* line 97, ../sass/screen.sass */
header ul.links a {
  display: inline-block;
}
/* line 99, ../sass/screen.sass */
header ul.links a[href*="deviantart.com"] {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url('../img/menu_da.png?1370223979');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 58px;
  height: 25px;
}
/* line 101, ../sass/screen.sass */
header ul.links a[href*="deviantart.com"]:hover {
  background-image: url('../img/menu_daH.png?1370399751');
}
/* line 103, ../sass/screen.sass */
header ul.links a[href*="facebook.com"] {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url('../img/menu_fb.png?1370224285');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 13px;
  height: 25px;
}
/* line 105, ../sass/screen.sass */
header ul.links a[href*="facebook.com"]:hover {
  background-image: url('../img/menu_fbH.png?1370304695');
}
/* line 107, ../sass/screen.sass */
header ul.links a[href*="twitter.com"] {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url('../img/menu_twit.png?1370224076');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 30px;
  height: 25px;
}
/* line 109, ../sass/screen.sass */
header ul.links a[href*="twitter.com"]:hover {
  background-image: url('../img/menu_twitH.png?1370399733');
}

/* line 113, ../sass/screen.sass */
#banner {
  clear: both;
  padding-top: 30px;
  text-align: center;
}

/* line 118, ../sass/screen.sass */
h1, h2 {
  margin-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  color: black;
}

/* line 125, ../sass/screen.sass */
ul {
  list-style-image: url('../img/bullet_red.gif?1369301876');
}
/* line 127, ../sass/screen.sass */
ul li {
  padding-bottom: 20px;
  text-align: justify;
}

/* line 131, ../sass/screen.sass */
ul.news {
  list-style: none;
  text-align: left;
}
/* line 135, ../sass/screen.sass */
ul.news li h3 {
  font-family: myriadpro-boldit;
  font-size: 1.6em;
}
/* line 138, ../sass/screen.sass */
ul.news li h4 {
  font-family: myriadpro-semiboldit;
  font-size: 1.2em;
}
/* line 141, ../sass/screen.sass */
ul.news li p {
  text-align: justify;
}

/* line 144, ../sass/screen.sass */
ul.releases {
  list-style: none;
  clear: both;
  display: block;
}
/* line 148, ../sass/screen.sass */
ul.releases li {
  text-align: center;
}
/* line 150, ../sass/screen.sass */
ul.releases li h3 {
  font-family: myriadpro-boldit;
  font-size: 1.2em;
}
/* line 153, ../sass/screen.sass */
ul.releases li h4 {
  font-family: myriadpro-semiboldit;
}
@media (min-width: 56.5em) {
  /* line 144, ../sass/screen.sass */
  ul.releases {
    width: 100%;
    margin-left: 10px;
  }
  /* line 158, ../sass/screen.sass */
  ul.releases li {
    text-align: left;
    display: inline-block;
    width: 49.55752%;
    float: left;
    margin-right: 0.88496%;
  }
  /* line 162, ../sass/screen.sass */
  ul.releases li:nth-child(2n) {
    float: right;
    margin-right: 0;
  }
  /* line 164, ../sass/screen.sass */
  ul.releases li img {
    display: block;
    width: 32.14286%;
    float: left;
    margin-right: 1.78571%;
  }
}

/* line 168, ../sass/screen.sass */
ul.covers {
  display: block;
  text-align: center;
}
/* line 171, ../sass/screen.sass */
ul.covers li {
  margin: 0;
  display: inline-block;
  text-align: center;
  width: 11.33333%;
}
/* line 176, ../sass/screen.sass */
ul.covers li img {
  display: block;
  width: 100%;
}

/* line 180, ../sass/screen.sass */
ul#event_list {
  list-style: none;
}
/* line 182, ../sass/screen.sass */
ul#event_list li {
  clear: both;
  display: block;
  padding: 10px 10px 30px 10px;
  border-bottom: solid 1px;
}
/* line 187, ../sass/screen.sass */
ul#event_list li h3 {
  font-family: myriadpro-boldit;
  font-size: 1.6em;
}
/* line 190, ../sass/screen.sass */
ul#event_list li h4 {
  font-family: myriadpro-semiboldit;
  font-size: 1.2em;
}
/* line 193, ../sass/screen.sass */
ul#event_list li:last-child {
  border-bottom: none;
}

/* line 196, ../sass/screen.sass */
ul.crewlist {
  list-style: none;
  margin: 30px 20px 0 20px;
}
/* line 199, ../sass/screen.sass */
ul.crewlist li {
  text-align: center;
}
/* line 201, ../sass/screen.sass */
ul.crewlist li h3 {
  font-family: myriadpro-semiboldit;
  font-size: 1.2em;
}
/* line 204, ../sass/screen.sass */
ul.crewlist li h4 {
  font-family: myriadpro-regular;
  font-size: 1.1em;
}
/* line 207, ../sass/screen.sass */
ul.crewlist li a {
  text-decoration: none;
  font-style: oblique;
  color: #3b3b3b;
}
/* line 211, ../sass/screen.sass */
ul.crewlist li a:hover {
  text-decoration: underline;
}

/* line 214, ../sass/screen.sass */
.left, .right, .news_container, .tweets {
  padding-top: 20px;
}

/* line 217, ../sass/screen.sass */
.left ul, .news_container ul {
  margin-left: 30px;
  margin-right: 10px;
}

/* line 220, ../sass/screen.sass */
.tweets {
  margin-top: 15px;
  padding: 0px 10px 0px 10px;
}

/* line 224, ../sass/screen.sass */
.left {
  text-align: center !important;
}

/* line 227, ../sass/screen.sass */
.right {
  text-align: center;
}
/* line 229, ../sass/screen.sass */
.right img {
  margin-top: 40px;
}

/* line 233, ../sass/screen.sass */
form p {
  overflow: hidden;
  *zoom: 1;
  vertical-align: baseline;
}
/* line 236, ../sass/screen.sass */
form label {
  display: inline-block;
  text-align: left;
  width: 100%;
}
/* line 240, ../sass/screen.sass */
form input, form textarea {
  width: 100%;
}
/* line 242, ../sass/screen.sass */
form input[type="submit"] {
  margin-left: 25.33333%;
  width: 49.33333%;
  float: left;
  margin-right: 1.33333%;
  display: inline;
}

/* line 246, ../sass/screen.sass */
.events_logos_section {
  padding: 0 15px 0 15px;
  margin: 40px -15px 0 -15px;
}

/* line 250, ../sass/screen.sass */
.events_section, .events_logos_section {
  margin-top: 30px;
}
/* line 252, ../sass/screen.sass */
.events_section h2, .events_logos_section h2 {
  padding-bottom: 20px;
}

@media (min-width: 56.5em) {
  /* line 257, ../sass/screen.sass */
  #content {
    max-width: 56.5em;
    padding-left: 0em;
    padding-right: 0em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 38, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  #content:after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 259, ../sass/screen.sass */
  body:before {
    position: fixed;
    background: black;
    width: 100%;
    height: 17%;
    bottom: 0;
    content: " ";
    z-index: -10;
  }

  /* line 267, ../sass/screen.sass */
  header {
    clear: both;
    position: relative;
  }
  /* line 270, ../sass/screen.sass */
  header .logo {
    width: 41.15044%;
    float: left;
    margin-right: 0.88496%;
  }
  /* line 272, ../sass/screen.sass */
  header nav {
    width: 57.9646%;
    float: right;
    margin-right: 0;
    vertical-align: middle;
    top: 19.5px;
    height: 36px;
    display: inline-block;
    position: relative;
    border-left: solid 2px;
    padding: 0 10px 0 10px;
  }
  /* line 282, ../sass/screen.sass */
  header nav ul {
    margin-top: 3px;
  }
  /* line 284, ../sass/screen.sass */
  header nav ul li {
    font-size: 30px;
  }
  /* line 286, ../sass/screen.sass */
  header ul.links {
    clear: both;
  }

  /* line 288, ../sass/screen.sass */
  #banners {
    margin: 30px 29px 0 29px;
  }

  /* line 291, ../sass/screen.sass */
  .left {
    width: 49.55752%;
    float: left;
    margin-right: 0.88496%;
  }

  /* line 293, ../sass/screen.sass */
  .right {
    width: 49.55752%;
    float: right;
    margin-right: 0;
  }

  /* line 295, ../sass/screen.sass */
  .news_container {
    width: 57.9646%;
    float: left;
    margin-right: 0.88496%;
  }
  /* line 297, ../sass/screen.sass */
  .news_container p {
    margin-right: 5px;
  }

  /* line 299, ../sass/screen.sass */
  .tweets {
    width: 41.15044%;
    float: right;
    margin-right: 0;
    padding: 0px 15px 0px 0px;
  }

  /* line 302, ../sass/screen.sass */
  div > h2 {
    clear: both;
  }

  /* line 304, ../sass/screen.sass */
  .events_section {
    width: 74.77876%;
    float: left;
    margin-right: 0.88496%;
  }

  /* line 306, ../sass/screen.sass */
  .events_logos_section {
    width: 24.33628%;
    float: right;
    margin-right: 0;
    border-left: solid 2px;
    height: 100%;
    position: absolute;
    right: 0;
  }
  /* line 14, ../../../../../Library/Ruby/Gems/1.8/gems/susy-1.0.9/sass/susy/_grid.scss */
  .events_logos_section * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 315, ../sass/screen.sass */
  ul#event_list li h3 {
    margin-top: 20px;
  }
  /* line 317, ../sass/screen.sass */
  ul#event_list li img {
    float: left;
  }
  /* line 319, ../sass/screen.sass */
  ul#event_list li:nth-child(2n) {
    text-align: right;
  }
  /* line 321, ../sass/screen.sass */
  ul#event_list li:nth-child(2n) img {
    float: right;
    padding-left: 10px;
  }

  /* line 325, ../sass/screen.sass */
  ul.crewlist li {
    text-align: left;
    width: 49.55752%;
    float: left;
    margin-right: 0.88496%;
  }
  /* line 328, ../sass/screen.sass */
  ul.crewlist li:nth-child(2n) {
    float: right;
    margin-right: 0;
  }
  /* line 330, ../sass/screen.sass */
  ul.crewlist li img {
    width: 24.33628%;
    float: left;
    margin-right: 0.88496%;
    float: left;
  }
  /* line 333, ../sass/screen.sass */
  ul.crewlist li p {
    margin: 30px 0 0 0 !important;
  }

  /* line 336, ../sass/screen.sass */
  form label {
    width: 32.14286%;
    text-align: right;
  }
  /* line 339, ../sass/screen.sass */
  form input, form textarea {
    width: 66.07143%;
    display: inline-block;
  }
  /* line 342, ../sass/screen.sass */
  form textarea {
    vertical-align: text-top;
  }
  /* line 344, ../sass/screen.sass */
  form input[type="submit"] {
    margin-left: 33.62832%;
    width: 32.74336%;
    float: left;
    margin-right: 0.88496%;
  }
}
/* 0 to 1, percentage of time alloted per slide */
/* $banner-time + $transition-duration */
/* line 14, ../sass/_banner_animation.sass */
#banners {
  background: black;
  overflow: hidden;
  height: 144px;
}
/* line 18, ../sass/_banner_animation.sass */
#banners ul {
  position: relative;
}
/* line 20, ../sass/_banner_animation.sass */
#banners ul li {
  height: 144px;
  width: 100%;
  position: absolute;
  list-style: none;
  text-align: center;
}
/* line 26, ../sass/_banner_animation.sass */
#banners ul li a {
  text-decoration: none;
}
/* line 28, ../sass/_banner_animation.sass */
#banners ul li div {
  position: relative;
  bottom: 72px;
  padding: 10px 0 10px 20px;
  font-family: "Open Sans Condensed", myriadpro-regular, "Arial Narrow", sans-serif;
  font-size: 36px;
  text-align: left;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  min-width: 25%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
/* line 41, ../sass/_banner_animation.sass */
#banners ul li a:hover div {
  opacity: 1;
}
/* line 45, ../sass/_banner_animation.sass */
#banners ul li:nth-child(1) {
  -webkit-animation: cycle-1 25s linear infinite;
  -moz-animation: cycle-1 25s linear infinite;
  -ms-animation: cycle-1 25s linear infinite;
  -o-animation: cycle-1 25s linear infinite;
  animation: cycle-1 25s linear infinite;
}
/* line 45, ../sass/_banner_animation.sass */
#banners ul li:nth-child(2) {
  -webkit-animation: cycle-2 25s linear infinite;
  -moz-animation: cycle-2 25s linear infinite;
  -ms-animation: cycle-2 25s linear infinite;
  -o-animation: cycle-2 25s linear infinite;
  animation: cycle-2 25s linear infinite;
}
/* line 45, ../sass/_banner_animation.sass */
#banners ul li:nth-child(3) {
  -webkit-animation: cycle-3 25s linear infinite;
  -moz-animation: cycle-3 25s linear infinite;
  -ms-animation: cycle-3 25s linear infinite;
  -o-animation: cycle-3 25s linear infinite;
  animation: cycle-3 25s linear infinite;
}
/* line 45, ../sass/_banner_animation.sass */
#banners ul li:nth-child(4) {
  -webkit-animation: cycle-4 25s linear infinite;
  -moz-animation: cycle-4 25s linear infinite;
  -ms-animation: cycle-4 25s linear infinite;
  -o-animation: cycle-4 25s linear infinite;
  animation: cycle-4 25s linear infinite;
}
/* line 45, ../sass/_banner_animation.sass */
#banners ul li:nth-child(5) {
  -webkit-animation: cycle-5 25s linear infinite;
  -moz-animation: cycle-5 25s linear infinite;
  -ms-animation: cycle-5 25s linear infinite;
  -o-animation: cycle-5 25s linear infinite;
  animation: cycle-5 25s linear infinite;
}
/* line 47, ../sass/_banner_animation.sass */
#banners ul:after {
  background: black;
  content: " ";
  position: absolute;
  height: 5px;
  top: 139px;
  width: 100%;
  -webkit-animation: progress-animation 25s ease-out infinite;
  -moz-animation: progress-animation 25s ease-out infinite;
  -ms-animation: progress-animation 25s ease-out infinite;
  -o-animation: progress-animation 25s ease-out infinite;
  animation: progress-animation 25s ease-out infinite;
}
/* line 57, ../sass/_banner_animation.sass */
#banners:hover li, #banners:hover ul:after {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

@-moz-keyframes cycle-1 {
  /* line 72, ../sass/_banner_animation.sass */
  0% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 76, ../sass/_banner_animation.sass */
  18% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 80, ../sass/_banner_animation.sass */
  20% {
    top: 144px;
    opacity: 0;
  }

  /* line 84, ../sass/_banner_animation.sass */
  22% {
    top: 144px;
    opacity: 0;
  }

  /* line 87, ../sass/_banner_animation.sass */
  24% {
    top: -144px;
    opacity: 0;
    z-index: -1;
  }

  /* line 91, ../sass/_banner_animation.sass */
  98% {
    top: -144px;
    opacity: 0;
    z-index: 0;
  }

  /* line 95, ../sass/_banner_animation.sass */
  100% {
    top: 0px;
    opacity: 1;
  }
}

@-webkit-keyframes cycle-1 {
  /* line 72, ../sass/_banner_animation.sass */
  0% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 76, ../sass/_banner_animation.sass */
  18% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 80, ../sass/_banner_animation.sass */
  20% {
    top: 144px;
    opacity: 0;
  }

  /* line 84, ../sass/_banner_animation.sass */
  22% {
    top: 144px;
    opacity: 0;
  }

  /* line 87, ../sass/_banner_animation.sass */
  24% {
    top: -144px;
    opacity: 0;
    z-index: -1;
  }

  /* line 91, ../sass/_banner_animation.sass */
  98% {
    top: -144px;
    opacity: 0;
    z-index: 0;
  }

  /* line 95, ../sass/_banner_animation.sass */
  100% {
    top: 0px;
    opacity: 1;
  }
}

@-o-keyframes cycle-1 {
  /* line 72, ../sass/_banner_animation.sass */
  0% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 76, ../sass/_banner_animation.sass */
  18% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 80, ../sass/_banner_animation.sass */
  20% {
    top: 144px;
    opacity: 0;
  }

  /* line 84, ../sass/_banner_animation.sass */
  22% {
    top: 144px;
    opacity: 0;
  }

  /* line 87, ../sass/_banner_animation.sass */
  24% {
    top: -144px;
    opacity: 0;
    z-index: -1;
  }

  /* line 91, ../sass/_banner_animation.sass */
  98% {
    top: -144px;
    opacity: 0;
    z-index: 0;
  }

  /* line 95, ../sass/_banner_animation.sass */
  100% {
    top: 0px;
    opacity: 1;
  }
}

@-ms-keyframes cycle-1 {
  /* line 72, ../sass/_banner_animation.sass */
  0% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 76, ../sass/_banner_animation.sass */
  18% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 80, ../sass/_banner_animation.sass */
  20% {
    top: 144px;
    opacity: 0;
  }

  /* line 84, ../sass/_banner_animation.sass */
  22% {
    top: 144px;
    opacity: 0;
  }

  /* line 87, ../sass/_banner_animation.sass */
  24% {
    top: -144px;
    opacity: 0;
    z-index: -1;
  }

  /* line 91, ../sass/_banner_animation.sass */
  98% {
    top: -144px;
    opacity: 0;
    z-index: 0;
  }

  /* line 95, ../sass/_banner_animation.sass */
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes cycle-1 {
  /* line 72, ../sass/_banner_animation.sass */
  0% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 76, ../sass/_banner_animation.sass */
  18% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 80, ../sass/_banner_animation.sass */
  20% {
    top: 144px;
    opacity: 0;
  }

  /* line 84, ../sass/_banner_animation.sass */
  22% {
    top: 144px;
    opacity: 0;
  }

  /* line 87, ../sass/_banner_animation.sass */
  24% {
    top: -144px;
    opacity: 0;
    z-index: -1;
  }

  /* line 91, ../sass/_banner_animation.sass */
  98% {
    top: -144px;
    opacity: 0;
    z-index: 0;
  }

  /* line 95, ../sass/_banner_animation.sass */
  100% {
    top: 0px;
    opacity: 1;
  }
}

@-moz-keyframes cycle-2 {
  /* line 63, ../sass/_banner_animation.sass */
  0% {
    top: -144px;
    opacity: 0;
    z-index: -1;
  }

  /* line 67, ../sass/_banner_animation.sass */
  18% {
    top: -144px;
    opacity: 0;
    z-index: 0;
  }

  /* line 72, ../sass/_banner_animation.sass */
  20% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 76, ../sass/_banner_animation.sass */
  38% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 80, ../sass/_banner_animation.sass */
  40% {
    top: 144px;
    opacity: 0;
  }

  /* line 99, ../sass/_banner_animation.sass */
  100% {
    top: 144px;
    opacity: 0;
  }
}

@-webkit-keyframes cycle-2 {
  /* line 63, ../sass/_banner_animation.sass */
  0% {
    top: -144px;
    opacity: 0;
    z-index: -1;
  }

  /* line 67, ../sass/_banner_animation.sass */
  18% {
    top: -144px;
    opacity: 0;
    z-index: 0;
  }

  /* line 72, ../sass/_banner_animation.sass */
  20% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 76, ../sass/_banner_animation.sass */
  38% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 80, ../sass/_banner_animation.sass */
  40% {
    top: 144px;
    opacity: 0;
  }

  /* line 99, ../sass/_banner_animation.sass */
  100% {
    top: 144px;
    opacity: 0;
  }
}

@-o-keyframes cycle-2 {
  /* line 63, ../sass/_banner_animation.sass */
  0% {
    top: -144px;
    opacity: 0;
    z-index: -1;
  }

  /* line 67, ../sass/_banner_animation.sass */
  18% {
    top: -144px;
    opacity: 0;
    z-index: 0;
  }

  /* line 72, ../sass/_banner_animation.sass */
  20% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 76, ../sass/_banner_animation.sass */
  38% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 80, ../sass/_banner_animation.sass */
  40% {
    top: 144px;
    opacity: 0;
  }

  /* line 99, ../sass/_banner_animation.sass */
  100% {
    top: 144px;
    opacity: 0;
  }
}

@-ms-keyframes cycle-2 {
  /* line 63, ../sass/_banner_animation.sass */
  0% {
    top: -144px;
    opacity: 0;
    z-index: -1;
  }

  /* line 67, ../sass/_banner_animation.sass */
  18% {
    top: -144px;
    opacity: 0;
    z-index: 0;
  }

  /* line 72, ../sass/_banner_animation.sass */
  20% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 76, ../sass/_banner_animation.sass */
  38% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 80, ../sass/_banner_animation.sass */
  40% {
    top: 144px;
    opacity: 0;
  }

  /* line 99, ../sass/_banner_animation.sass */
  100% {
    top: 144px;
    opacity: 0;
  }
}

@keyframes cycle-2 {
  /* line 63, ../sass/_banner_animation.sass */
  0% {
    top: -144px;
    opacity: 0;
    z-index: -1;
  }

  /* line 67, ../sass/_banner_animation.sass */
  18% {
    top: -144px;
    opacity: 0;
    z-index: 0;
  }

  /* line 72, ../sass/_banner_animation.sass */
  20% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 76, ../sass/_banner_animation.sass */
  38% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 80, ../sass/_banner_animation.sass */
  40% {
    top: 144px;
    opacity: 0;
  }

  /* line 99, ../sass/_banner_animation.sass */
  100% {
    top: 144px;
    opacity: 0;
  }
}

@-moz-keyframes cycle-3 {
  /* line 63, ../sass/_banner_animation.sass */
  0% {
    top: -144px;
    opacity: 0;
    z-index: -1;
  }

  /* line 67, ../sass/_banner_animation.sass */
  38% {
    top: -144px;
    opacity: 0;
    z-index: 0;
  }

  /* line 72, ../sass/_banner_animation.sass */
  40% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 76, ../sass/_banner_animation.sass */
  58% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 80, ../sass/_banner_animation.sass */
  60% {
    top: 144px;
    opacity: 0;
  }

  /* line 99, ../sass/_banner_animation.sass */
  100% {
    top: 144px;
    opacity: 0;
  }
}

@-webkit-keyframes cycle-3 {
  /* line 63, ../sass/_banner_animation.sass */
  0% {
    top: -144px;
    opacity: 0;
    z-index: -1;
  }

  /* line 67, ../sass/_banner_animation.sass */
  38% {
    top: -144px;
    opacity: 0;
    z-index: 0;
  }

  /* line 72, ../sass/_banner_animation.sass */
  40% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 76, ../sass/_banner_animation.sass */
  58% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 80, ../sass/_banner_animation.sass */
  60% {
    top: 144px;
    opacity: 0;
  }

  /* line 99, ../sass/_banner_animation.sass */
  100% {
    top: 144px;
    opacity: 0;
  }
}

@-o-keyframes cycle-3 {
  /* line 63, ../sass/_banner_animation.sass */
  0% {
    top: -144px;
    opacity: 0;
    z-index: -1;
  }

  /* line 67, ../sass/_banner_animation.sass */
  38% {
    top: -144px;
    opacity: 0;
    z-index: 0;
  }

  /* line 72, ../sass/_banner_animation.sass */
  40% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 76, ../sass/_banner_animation.sass */
  58% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 80, ../sass/_banner_animation.sass */
  60% {
    top: 144px;
    opacity: 0;
  }

  /* line 99, ../sass/_banner_animation.sass */
  100% {
    top: 144px;
    opacity: 0;
  }
}

@-ms-keyframes cycle-3 {
  /* line 63, ../sass/_banner_animation.sass */
  0% {
    top: -144px;
    opacity: 0;
    z-index: -1;
  }

  /* line 67, ../sass/_banner_animation.sass */
  38% {
    top: -144px;
    opacity: 0;
    z-index: 0;
  }

  /* line 72, ../sass/_banner_animation.sass */
  40% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 76, ../sass/_banner_animation.sass */
  58% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 80, ../sass/_banner_animation.sass */
  60% {
    top: 144px;
    opacity: 0;
  }

  /* line 99, ../sass/_banner_animation.sass */
  100% {
    top: 144px;
    opacity: 0;
  }
}

@keyframes cycle-3 {
  /* line 63, ../sass/_banner_animation.sass */
  0% {
    top: -144px;
    opacity: 0;
    z-index: -1;
  }

  /* line 67, ../sass/_banner_animation.sass */
  38% {
    top: -144px;
    opacity: 0;
    z-index: 0;
  }

  /* line 72, ../sass/_banner_animation.sass */
  40% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 76, ../sass/_banner_animation.sass */
  58% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 80, ../sass/_banner_animation.sass */
  60% {
    top: 144px;
    opacity: 0;
  }

  /* line 99, ../sass/_banner_animation.sass */
  100% {
    top: 144px;
    opacity: 0;
  }
}

@-moz-keyframes cycle-4 {
  /* line 63, ../sass/_banner_animation.sass */
  0% {
    top: -144px;
    opacity: 0;
    z-index: -1;
  }

  /* line 67, ../sass/_banner_animation.sass */
  58% {
    top: -144px;
    opacity: 0;
    z-index: 0;
  }

  /* line 72, ../sass/_banner_animation.sass */
  60% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 76, ../sass/_banner_animation.sass */
  78% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 80, ../sass/_banner_animation.sass */
  80% {
    top: 144px;
    opacity: 0;
  }

  /* line 99, ../sass/_banner_animation.sass */
  100% {
    top: 144px;
    opacity: 0;
  }
}

@-webkit-keyframes cycle-4 {
  /* line 63, ../sass/_banner_animation.sass */
  0% {
    top: -144px;
    opacity: 0;
    z-index: -1;
  }

  /* line 67, ../sass/_banner_animation.sass */
  58% {
    top: -144px;
    opacity: 0;
    z-index: 0;
  }

  /* line 72, ../sass/_banner_animation.sass */
  60% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 76, ../sass/_banner_animation.sass */
  78% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 80, ../sass/_banner_animation.sass */
  80% {
    top: 144px;
    opacity: 0;
  }

  /* line 99, ../sass/_banner_animation.sass */
  100% {
    top: 144px;
    opacity: 0;
  }
}

@-o-keyframes cycle-4 {
  /* line 63, ../sass/_banner_animation.sass */
  0% {
    top: -144px;
    opacity: 0;
    z-index: -1;
  }

  /* line 67, ../sass/_banner_animation.sass */
  58% {
    top: -144px;
    opacity: 0;
    z-index: 0;
  }

  /* line 72, ../sass/_banner_animation.sass */
  60% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 76, ../sass/_banner_animation.sass */
  78% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 80, ../sass/_banner_animation.sass */
  80% {
    top: 144px;
    opacity: 0;
  }

  /* line 99, ../sass/_banner_animation.sass */
  100% {
    top: 144px;
    opacity: 0;
  }
}

@-ms-keyframes cycle-4 {
  /* line 63, ../sass/_banner_animation.sass */
  0% {
    top: -144px;
    opacity: 0;
    z-index: -1;
  }

  /* line 67, ../sass/_banner_animation.sass */
  58% {
    top: -144px;
    opacity: 0;
    z-index: 0;
  }

  /* line 72, ../sass/_banner_animation.sass */
  60% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 76, ../sass/_banner_animation.sass */
  78% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 80, ../sass/_banner_animation.sass */
  80% {
    top: 144px;
    opacity: 0;
  }

  /* line 99, ../sass/_banner_animation.sass */
  100% {
    top: 144px;
    opacity: 0;
  }
}

@keyframes cycle-4 {
  /* line 63, ../sass/_banner_animation.sass */
  0% {
    top: -144px;
    opacity: 0;
    z-index: -1;
  }

  /* line 67, ../sass/_banner_animation.sass */
  58% {
    top: -144px;
    opacity: 0;
    z-index: 0;
  }

  /* line 72, ../sass/_banner_animation.sass */
  60% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 76, ../sass/_banner_animation.sass */
  78% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 80, ../sass/_banner_animation.sass */
  80% {
    top: 144px;
    opacity: 0;
  }

  /* line 99, ../sass/_banner_animation.sass */
  100% {
    top: 144px;
    opacity: 0;
  }
}

@-moz-keyframes cycle-5 {
  /* line 63, ../sass/_banner_animation.sass */
  0% {
    top: -144px;
    opacity: 0;
    z-index: -1;
  }

  /* line 67, ../sass/_banner_animation.sass */
  78% {
    top: -144px;
    opacity: 0;
    z-index: 0;
  }

  /* line 72, ../sass/_banner_animation.sass */
  80% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 76, ../sass/_banner_animation.sass */
  98% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 80, ../sass/_banner_animation.sass */
  100% {
    top: 144px;
    opacity: 0;
  }

  /* line 99, ../sass/_banner_animation.sass */
  100% {
    top: 144px;
    opacity: 0;
  }
}

@-webkit-keyframes cycle-5 {
  /* line 63, ../sass/_banner_animation.sass */
  0% {
    top: -144px;
    opacity: 0;
    z-index: -1;
  }

  /* line 67, ../sass/_banner_animation.sass */
  78% {
    top: -144px;
    opacity: 0;
    z-index: 0;
  }

  /* line 72, ../sass/_banner_animation.sass */
  80% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 76, ../sass/_banner_animation.sass */
  98% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 80, ../sass/_banner_animation.sass */
  100% {
    top: 144px;
    opacity: 0;
  }

  /* line 99, ../sass/_banner_animation.sass */
  100% {
    top: 144px;
    opacity: 0;
  }
}

@-o-keyframes cycle-5 {
  /* line 63, ../sass/_banner_animation.sass */
  0% {
    top: -144px;
    opacity: 0;
    z-index: -1;
  }

  /* line 67, ../sass/_banner_animation.sass */
  78% {
    top: -144px;
    opacity: 0;
    z-index: 0;
  }

  /* line 72, ../sass/_banner_animation.sass */
  80% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 76, ../sass/_banner_animation.sass */
  98% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 80, ../sass/_banner_animation.sass */
  100% {
    top: 144px;
    opacity: 0;
  }

  /* line 99, ../sass/_banner_animation.sass */
  100% {
    top: 144px;
    opacity: 0;
  }
}

@-ms-keyframes cycle-5 {
  /* line 63, ../sass/_banner_animation.sass */
  0% {
    top: -144px;
    opacity: 0;
    z-index: -1;
  }

  /* line 67, ../sass/_banner_animation.sass */
  78% {
    top: -144px;
    opacity: 0;
    z-index: 0;
  }

  /* line 72, ../sass/_banner_animation.sass */
  80% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 76, ../sass/_banner_animation.sass */
  98% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 80, ../sass/_banner_animation.sass */
  100% {
    top: 144px;
    opacity: 0;
  }

  /* line 99, ../sass/_banner_animation.sass */
  100% {
    top: 144px;
    opacity: 0;
  }
}

@keyframes cycle-5 {
  /* line 63, ../sass/_banner_animation.sass */
  0% {
    top: -144px;
    opacity: 0;
    z-index: -1;
  }

  /* line 67, ../sass/_banner_animation.sass */
  78% {
    top: -144px;
    opacity: 0;
    z-index: 0;
  }

  /* line 72, ../sass/_banner_animation.sass */
  80% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 76, ../sass/_banner_animation.sass */
  98% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  /* line 80, ../sass/_banner_animation.sass */
  100% {
    top: 144px;
    opacity: 0;
  }

  /* line 99, ../sass/_banner_animation.sass */
  100% {
    top: 144px;
    opacity: 0;
  }
}

@-moz-keyframes progress-animation {
  /* line 105, ../sass/_banner_animation.sass */
  0% {
    width: 0%;
    opacity: 0;
  }

  /* line 108, ../sass/_banner_animation.sass */
  1.8% {
    opacity: 1;
  }

  /* line 110, ../sass/_banner_animation.sass */
  16.2% {
    opacity: 1;
  }

  /* line 112, ../sass/_banner_animation.sass */
  18% {
    width: 100%;
    opacity: 0;
  }

  /* line 105, ../sass/_banner_animation.sass */
  20% {
    width: 0%;
    opacity: 0;
  }

  /* line 108, ../sass/_banner_animation.sass */
  21.8% {
    opacity: 1;
  }

  /* line 110, ../sass/_banner_animation.sass */
  36.2% {
    opacity: 1;
  }

  /* line 112, ../sass/_banner_animation.sass */
  38% {
    width: 100%;
    opacity: 0;
  }

  /* line 105, ../sass/_banner_animation.sass */
  40% {
    width: 0%;
    opacity: 0;
  }

  /* line 108, ../sass/_banner_animation.sass */
  41.8% {
    opacity: 1;
  }

  /* line 110, ../sass/_banner_animation.sass */
  56.2% {
    opacity: 1;
  }

  /* line 112, ../sass/_banner_animation.sass */
  58% {
    width: 100%;
    opacity: 0;
  }

  /* line 105, ../sass/_banner_animation.sass */
  60% {
    width: 0%;
    opacity: 0;
  }

  /* line 108, ../sass/_banner_animation.sass */
  61.8% {
    opacity: 1;
  }

  /* line 110, ../sass/_banner_animation.sass */
  76.2% {
    opacity: 1;
  }

  /* line 112, ../sass/_banner_animation.sass */
  78% {
    width: 100%;
    opacity: 0;
  }

  /* line 105, ../sass/_banner_animation.sass */
  80% {
    width: 0%;
    opacity: 0;
  }

  /* line 108, ../sass/_banner_animation.sass */
  81.8% {
    opacity: 1;
  }

  /* line 110, ../sass/_banner_animation.sass */
  96.2% {
    opacity: 1;
  }

  /* line 112, ../sass/_banner_animation.sass */
  98% {
    width: 100%;
    opacity: 0;
  }

  /* line 115, ../sass/_banner_animation.sass */
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes progress-animation {
  /* line 105, ../sass/_banner_animation.sass */
  0% {
    width: 0%;
    opacity: 0;
  }

  /* line 108, ../sass/_banner_animation.sass */
  1.8% {
    opacity: 1;
  }

  /* line 110, ../sass/_banner_animation.sass */
  16.2% {
    opacity: 1;
  }

  /* line 112, ../sass/_banner_animation.sass */
  18% {
    width: 100%;
    opacity: 0;
  }

  /* line 105, ../sass/_banner_animation.sass */
  20% {
    width: 0%;
    opacity: 0;
  }

  /* line 108, ../sass/_banner_animation.sass */
  21.8% {
    opacity: 1;
  }

  /* line 110, ../sass/_banner_animation.sass */
  36.2% {
    opacity: 1;
  }

  /* line 112, ../sass/_banner_animation.sass */
  38% {
    width: 100%;
    opacity: 0;
  }

  /* line 105, ../sass/_banner_animation.sass */
  40% {
    width: 0%;
    opacity: 0;
  }

  /* line 108, ../sass/_banner_animation.sass */
  41.8% {
    opacity: 1;
  }

  /* line 110, ../sass/_banner_animation.sass */
  56.2% {
    opacity: 1;
  }

  /* line 112, ../sass/_banner_animation.sass */
  58% {
    width: 100%;
    opacity: 0;
  }

  /* line 105, ../sass/_banner_animation.sass */
  60% {
    width: 0%;
    opacity: 0;
  }

  /* line 108, ../sass/_banner_animation.sass */
  61.8% {
    opacity: 1;
  }

  /* line 110, ../sass/_banner_animation.sass */
  76.2% {
    opacity: 1;
  }

  /* line 112, ../sass/_banner_animation.sass */
  78% {
    width: 100%;
    opacity: 0;
  }

  /* line 105, ../sass/_banner_animation.sass */
  80% {
    width: 0%;
    opacity: 0;
  }

  /* line 108, ../sass/_banner_animation.sass */
  81.8% {
    opacity: 1;
  }

  /* line 110, ../sass/_banner_animation.sass */
  96.2% {
    opacity: 1;
  }

  /* line 112, ../sass/_banner_animation.sass */
  98% {
    width: 100%;
    opacity: 0;
  }

  /* line 115, ../sass/_banner_animation.sass */
  100% {
    opacity: 0;
  }
}

@-o-keyframes progress-animation {
  /* line 105, ../sass/_banner_animation.sass */
  0% {
    width: 0%;
    opacity: 0;
  }

  /* line 108, ../sass/_banner_animation.sass */
  1.8% {
    opacity: 1;
  }

  /* line 110, ../sass/_banner_animation.sass */
  16.2% {
    opacity: 1;
  }

  /* line 112, ../sass/_banner_animation.sass */
  18% {
    width: 100%;
    opacity: 0;
  }

  /* line 105, ../sass/_banner_animation.sass */
  20% {
    width: 0%;
    opacity: 0;
  }

  /* line 108, ../sass/_banner_animation.sass */
  21.8% {
    opacity: 1;
  }

  /* line 110, ../sass/_banner_animation.sass */
  36.2% {
    opacity: 1;
  }

  /* line 112, ../sass/_banner_animation.sass */
  38% {
    width: 100%;
    opacity: 0;
  }

  /* line 105, ../sass/_banner_animation.sass */
  40% {
    width: 0%;
    opacity: 0;
  }

  /* line 108, ../sass/_banner_animation.sass */
  41.8% {
    opacity: 1;
  }

  /* line 110, ../sass/_banner_animation.sass */
  56.2% {
    opacity: 1;
  }

  /* line 112, ../sass/_banner_animation.sass */
  58% {
    width: 100%;
    opacity: 0;
  }

  /* line 105, ../sass/_banner_animation.sass */
  60% {
    width: 0%;
    opacity: 0;
  }

  /* line 108, ../sass/_banner_animation.sass */
  61.8% {
    opacity: 1;
  }

  /* line 110, ../sass/_banner_animation.sass */
  76.2% {
    opacity: 1;
  }

  /* line 112, ../sass/_banner_animation.sass */
  78% {
    width: 100%;
    opacity: 0;
  }

  /* line 105, ../sass/_banner_animation.sass */
  80% {
    width: 0%;
    opacity: 0;
  }

  /* line 108, ../sass/_banner_animation.sass */
  81.8% {
    opacity: 1;
  }

  /* line 110, ../sass/_banner_animation.sass */
  96.2% {
    opacity: 1;
  }

  /* line 112, ../sass/_banner_animation.sass */
  98% {
    width: 100%;
    opacity: 0;
  }

  /* line 115, ../sass/_banner_animation.sass */
  100% {
    opacity: 0;
  }
}

@-ms-keyframes progress-animation {
  /* line 105, ../sass/_banner_animation.sass */
  0% {
    width: 0%;
    opacity: 0;
  }

  /* line 108, ../sass/_banner_animation.sass */
  1.8% {
    opacity: 1;
  }

  /* line 110, ../sass/_banner_animation.sass */
  16.2% {
    opacity: 1;
  }

  /* line 112, ../sass/_banner_animation.sass */
  18% {
    width: 100%;
    opacity: 0;
  }

  /* line 105, ../sass/_banner_animation.sass */
  20% {
    width: 0%;
    opacity: 0;
  }

  /* line 108, ../sass/_banner_animation.sass */
  21.8% {
    opacity: 1;
  }

  /* line 110, ../sass/_banner_animation.sass */
  36.2% {
    opacity: 1;
  }

  /* line 112, ../sass/_banner_animation.sass */
  38% {
    width: 100%;
    opacity: 0;
  }

  /* line 105, ../sass/_banner_animation.sass */
  40% {
    width: 0%;
    opacity: 0;
  }

  /* line 108, ../sass/_banner_animation.sass */
  41.8% {
    opacity: 1;
  }

  /* line 110, ../sass/_banner_animation.sass */
  56.2% {
    opacity: 1;
  }

  /* line 112, ../sass/_banner_animation.sass */
  58% {
    width: 100%;
    opacity: 0;
  }

  /* line 105, ../sass/_banner_animation.sass */
  60% {
    width: 0%;
    opacity: 0;
  }

  /* line 108, ../sass/_banner_animation.sass */
  61.8% {
    opacity: 1;
  }

  /* line 110, ../sass/_banner_animation.sass */
  76.2% {
    opacity: 1;
  }

  /* line 112, ../sass/_banner_animation.sass */
  78% {
    width: 100%;
    opacity: 0;
  }

  /* line 105, ../sass/_banner_animation.sass */
  80% {
    width: 0%;
    opacity: 0;
  }

  /* line 108, ../sass/_banner_animation.sass */
  81.8% {
    opacity: 1;
  }

  /* line 110, ../sass/_banner_animation.sass */
  96.2% {
    opacity: 1;
  }

  /* line 112, ../sass/_banner_animation.sass */
  98% {
    width: 100%;
    opacity: 0;
  }

  /* line 115, ../sass/_banner_animation.sass */
  100% {
    opacity: 0;
  }
}

@keyframes progress-animation {
  /* line 105, ../sass/_banner_animation.sass */
  0% {
    width: 0%;
    opacity: 0;
  }

  /* line 108, ../sass/_banner_animation.sass */
  1.8% {
    opacity: 1;
  }

  /* line 110, ../sass/_banner_animation.sass */
  16.2% {
    opacity: 1;
  }

  /* line 112, ../sass/_banner_animation.sass */
  18% {
    width: 100%;
    opacity: 0;
  }

  /* line 105, ../sass/_banner_animation.sass */
  20% {
    width: 0%;
    opacity: 0;
  }

  /* line 108, ../sass/_banner_animation.sass */
  21.8% {
    opacity: 1;
  }

  /* line 110, ../sass/_banner_animation.sass */
  36.2% {
    opacity: 1;
  }

  /* line 112, ../sass/_banner_animation.sass */
  38% {
    width: 100%;
    opacity: 0;
  }

  /* line 105, ../sass/_banner_animation.sass */
  40% {
    width: 0%;
    opacity: 0;
  }

  /* line 108, ../sass/_banner_animation.sass */
  41.8% {
    opacity: 1;
  }

  /* line 110, ../sass/_banner_animation.sass */
  56.2% {
    opacity: 1;
  }

  /* line 112, ../sass/_banner_animation.sass */
  58% {
    width: 100%;
    opacity: 0;
  }

  /* line 105, ../sass/_banner_animation.sass */
  60% {
    width: 0%;
    opacity: 0;
  }

  /* line 108, ../sass/_banner_animation.sass */
  61.8% {
    opacity: 1;
  }

  /* line 110, ../sass/_banner_animation.sass */
  76.2% {
    opacity: 1;
  }

  /* line 112, ../sass/_banner_animation.sass */
  78% {
    width: 100%;
    opacity: 0;
  }

  /* line 105, ../sass/_banner_animation.sass */
  80% {
    width: 0%;
    opacity: 0;
  }

  /* line 108, ../sass/_banner_animation.sass */
  81.8% {
    opacity: 1;
  }

  /* line 110, ../sass/_banner_animation.sass */
  96.2% {
    opacity: 1;
  }

  /* line 112, ../sass/_banner_animation.sass */
  98% {
    width: 100%;
    opacity: 0;
  }

  /* line 115, ../sass/_banner_animation.sass */
  100% {
    opacity: 0;
  }
}
